@import url("rose-pine.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 12.5px;
}

window#waybar {
  background-color: @base;
  color: @text;
}

#workspaces button {
  padding: 0px;
  margin: 0px 0px 0px 5px;
  /*top right bottom left*/
  background-color: transparent;
  border-radius: 0px;
  color: @subtle;
}

#workspaces button.active {
  background-color: @iris;
  color: @base;
  font-weight: 700;
}

#workspaces button.urgent {
  background-color: @love;
  color: @base;
}

#workspaces button:hover {
  background: @highlightMed;
  color: @iris;
  border: none;
  outline: none;
  box-shadow: none;
}

#battery,
#bluetooth,
#network,
#cpu,
#memory,
#volume,
#custom-notification,
#disk {
  border-radius: 0px;
  padding: 5px 8px;
  background-color: @surface;
  color: @text;
  margin: 0px 5px 0px 0px;
}

#custom-capslock {
  border-radius: 0px;
  padding: 5px 8px;
  background-color: @surface;
  color: @love;
  margin: 0px 5px 0px 0px;
}

#tray {
  border-radius: 0px;
  padding: 0px 8px;
  background-color: @surface;
  color: @text;
  margin: 0px 5px 0px 0px;
}

#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 0px;
  background: @highlightMed;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 0px;
  background: @iris;
}

tooltip {
  background: @surface;
  border-radius: 0px;
}

tooltip label {
  color: @text;
}
